@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('./../../fonts/fraunces900.woff2') format('woff2'),
    url('./../../fonts/fraunces900.woff') format('woff');
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    src: url('./../../fonts/barlow700.woff2') format('woff2'),
    url('./../../fonts/barlow700.woff') format('woff');
}