.head {
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        width: 100%; 
        padding: 20px 0 0 0;
        margin-bottom: 48px;
    }
    
    &__w-l {
        display: flex;
        align-items: center;
    }
    
    &__w-img {
        width: 236px;
        height: 26px;
        margin-right: 8px;
    }
    
    &__w-r {
    }
    
    &__w-list {
        display: flex;
        justify-content: space-evenly;
        width: 283px;
    }
    
    &__w-item {
    }
    
    &__w-link {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
    }
    &__w-link:hover {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #333D4B;
    }
    &__btn {
        display: none;
    }
}
.head1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.head--open {
    .head__w-r {
        display: inline-block;
    }
    
    .head__icon--open {
        display: inline-block;
    }
    
    .head__icon--close {
        display: none;
    }  
}
@media only screen and (max-width: 768px){
    .head {        
        &__wrap {
            max-width: 1280px; 
            width: 1280px;
        }
        
        &__w-l {
            display: flex;
            align-items: center;
        }
        
        &__w-img {
            width: 236px;
            height: 26px;
            margin-right: 8px;
        }
        
        &__w-r {
            display: none;
        }
        
        &__w-list {
            display: flex;
            justify-content: space-evenly;
            width: 283px;
        }
        
        &__w-item {
            display: none;
        }
        
        
        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}
@media only screen and (max-width: 530px){
    .head {
        
        &__w-img {
            width: 163px;
            height: 18px;
        }

        &__w-r {
            display: none;
        }
        
    }
        
}
